@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.formularioCarta{
    background-color: rgb(92, 223, 205);
}

.ancho200{
    width: 200px;
}

h3{
    text-align: center;
}
