@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.formPedido {
  
  .container {
    max-width: 1200px;
    margin: 0px auto;
    padding: 1em;
  }

  .formblock, .formcheckbox, .formtype {
    margin-bottom: 0.5em; 
  }

  .formtype {
    margin-left: 0.65em;
  }

  .formcheckbox {
    margin-top: 0.7em;
  }

  .formbutton {
    background-color: aqua;
  }

  .formtextofi {
    width: 150px;
    margin-top: 0.5em;
    margin-left: 2em;
  }

  .checkbox {
    margin-top: 1.28em;
  }

  .formprecio {
    font-size: 1.2em;
    font-weight: bolder;
    margin: 0.7em 0;
  }

  .row {
    @include ms-Grid-row;
  }

  .col6 {
    @include ms-Grid-col;
    @include ms-sm12;
    @include ms-md6;
    @include ms-lg6;
  }

  .col9 {
    @include ms-Grid-col;
    @include ms-sm12;
    @include ms-md9;
    @include ms-lg9;
  }

  .col3 {
    @include ms-Grid-col;
    @include ms-sm12;
    @include ms-md3;
    @include ms-lg3;
  }

  .coltext1, .coltext2 {
    @include ms-Grid-col;
    @include ms-sm6;
    @include ms-md6;
    @include ms-lg6;
    padding: 0;
    margin: 0;
  }

  .coltext1 {
    margin-top: 5.4px;
  }

  .title {
    @include ms-font-xl;
    @include ms-fontColor-white;
  }

  .subTitle {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .description {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .button, .buttonagregar, .buttonPedido {
    // Our button
    text-decoration: none;
    height: 32px;

    // Primary Button
    width: 140px;
    background-color: $ms-color-themePrimary;
    border-color: $ms-color-themePrimary;
    color: $ms-color-white;

    // Basic Button
    outline: transparent;
    position: relative;
    font-family: "Segoe UI WestEuropean","Segoe UI",-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: $ms-font-size-m;
    font-weight: $ms-font-weight-regular;
    border-width: 0;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    margin-top: 1em;

    .label {
      font-weight: $ms-font-weight-semibold;
      font-size: $ms-font-size-m;
      height: 32px;
      line-height: 32px;
      margin: 0 4px;
      vertical-align: top;
      display: inline-block;
    }
  }

  .buttonagregar {
    background-color: green;
  }

  .buttonPedido {
    text-align: right !important;
    background-color: darkred;
    margin-top: 1.75em;
  }

  .morePedidos {
    margin: auto;
  }
}